{% extends 'base.html.twig' %}

{% block title %}Formula 1 races in 2024!

{% endblock %}

{% block body %}
	<h1>F1 races 2024</h1>
	<div class="container">
		{% for data in data.MRData.RaceTable.Races %}
			<div class="race-card">
				<div class="right">
					<h2>{{ data.raceName }}</h2>
					<p>Location:
						{{data.Circuit.Location.locality}},
						{{data.Circuit.Location.country}}</p>
					<p>Date:
						{{ data.date }}</p>
					<p>Time:
						{{ data.time }}</p>
					<p>Season:
						{{ data.season }}</p>
					<p class="url">
						Url:
						<a href={{data.url}}>{{data.url}}</a>
					</p>
				</div>
				<div class="left">
					<img src="https://source.unsplash.com/300x300/?{{ data.Circuit.Location.country }}"/>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
